body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#objednavka-form {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#objednavka-form input[type="text"],
#objednavka-form input[type="email"],
#objednavka-form input[type="tel"],
#objednavka-form input[type="number"]{
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#objednavka-form input[type="submit"] {
    width: 100%;
    background-color: #69b67b;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#objednavka-form input[type="submit"]:hover {
    background-color: #5a9b6c;
}

#rekapitulace {
    background-color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

#rekapitulace h2 {
    margin: 0;
    padding: 0;
}

#rekapitulace p {
    margin: 5px 0;
}

#rekapitulace button {
    background-color: #69b67b;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rekapitulace button:hover {
    background-color: #5a9b6c;
}

#celkovacena-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#celkovacena-container select {
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}